@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0; 
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4{
      font-family: 'Poppins', sans-serif;
}

.card{
    background-image: linear-gradient(to right, #000 0%, rgba(0, 0, 0, 0.61) 50%),url("../public/bg.jpg");
    background-size: cover;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.438) 0px 0px 10px;
     padding: 20px;
    margin-top: 20px;
    
}

.cardTitle{
    color: white;
    font-weight: bold;
    font-size: 18px;
  
}
.cardDesc{
    color:whitesmoke;
    font-weight:300;
    font-size: small;
    padding-bottom: 10px;
    padding-top: 10px;
  
}
